body, html {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    padding: 20px; /* Added padding for better spacing around the content */
    margin: 0;
    height: auto; /* Adjust to 'auto' to accommodate varying content heights */
    display: flex;
    flex-direction: column; /* Change flex direction to column to stack children vertically */
    align-items: center;
    margin-bottom: 30px;
}

h1, h2 {
    font-family: 'Poppins', sans-serif; /* Using Poppins font */
    color: white; /* Setting the color to white */
    text-align: center; /* Center aligning the text */
}

h1 {
    font-size: 48px; /* Larger size for main header */
    font-weight: 600; /* Semi-bold for more emphasis */
    margin-bottom: 10px; /* Space below the h1 */
}

h2 {
    font-size: 24px; /* Smaller size than h1 */
    font-weight: 400; /* Normal weight for secondary header */
    margin-top: 0; /* Removing the default top margin */
}

.login-container {
    width: 300px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input[type="email"], .login-form input[type="password"] {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px;
    margin: 10px 0;
    color: white;
    font-size: 16px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.login-form {
    display: flex;
    justify-content: space-around; /* Distributes spacing evenly */
    margin-top: 20px;
}

.button-container,.grid-item button,.cart-action-button, shopping-cart button {
    display: flex;
    justify-content: space-between; /* This ensures buttons are spaced evenly */
}

.login-form button, .login-form .button-link,
.register-form button, .register-form .button-link, .grid-item button, .add-to-cart-button, .cart-action-button, 
shopping-cart button {
    flex: 1; /* Makes each button fill the container equally */
    padding: 10px;
    margin: 0 5px; /* Consistent margin on both sides */
    font-size: 16px;
    background-color: #7a00db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box; /* Includes padding and border in the width and height */
}

.login-form button:hover, .login-form .button-link:hover,
.register-form button:hover, .register-form .button-link:hover,.grid-item button,.add-to-cart-button,
.cart-action-button, .cart-action-button, shopping-cart button {
    background-color: black;
}

.login-form .button-link, .register-form .button-link,.grid-item button, .add-to-cart-button, 
.cart-action-button, shopping-cart button {
    display: inline-block; /* Ensures link behaves like a button */
    width: calc(50% - 10px); /* Adjust width considering margin */
}

.login-form a {
    color: white;
    margin-top: 15px;
    text-decoration: none;
}
.register-container {
    width: 300px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form input[type="email"], 
.register-form input[type="password"], 
.register-form input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px;
    margin: 10px 0;
    color: white;
    font-size: 16px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.register-form .button-container, shopping-cart button {
    display: flex;
    justify-content: space-around; /* Distributes spacing evenly */
    margin-top: 20px;
}

.register-form button, shopping-cart button {
    width: 110px; /* Fixed width */
    height: 40px; /* Fixed height */
    margin: 0 5px; /* Margin for spacing */
    padding: 0; /* No padding to affect the size */
    border: none;
    background-color: #7a00db;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box; /* Includes padding and border in the width and height */
}

.register-form button:hover, shopping-cart button:hover {
    background-color: #8e2de2;
}

.register-form a {
    color: white;
    margin-top: 15px;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-gap: 20px;
    width: 100%; /* Set width to use full available width */
    margin-bottom: 30px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background: white; /* Added a background color for better visibility */
}

.grid-item img {
    width: auto;  /* Maintain the aspect ratio */
    height: 150px; /* Fixed height to make all images the same size */
    object-fit: cover; /* Cover the area of the box without distorting the ratio */
}

#shopping-cart {
    width: 100%;
    padding: 20px;
    background-color: #f4f4f4;
}

.cart-grid {
    width: 100%;
    border-collapse: collapse;
}

.cart-grid th, .cart-grid td {
    text-align: center; 
    padding: 8px;
    border-bottom: 1px solid #ddd;
}


.cart-grid .item-quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cart-grid .remove-item {
    color: white;
    background-color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

tfoot td {
    text-align: right;
    padding-right: 20px;
}
